.flex-container-addbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
}

.flex-item-addbar {
  flex: 1;
  text-align: center;
}

.flex-item-left-addbar {
  flex: 85%;
  align-self: center;
}

.flex-item-left-right {
  flex: 15%;
  align-self: center;
}
